$black: #000;
$primary: #2b292d;
$secondary: #807f81;
$tertiary: #7b7b7e;
$background-7: #f4f5f7;
$background-a: #f2f8fa;
$white: #fff;

$blue-1: #0189d1;
$blue-4: #3040c4;
$blue-5: #3141c5;

$green: #009b4d;
$pink: #fdded8;
